@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Movie Index Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie Index</h1>
   <p>@Html.ActionLink("See all movies", "Index", "Movies")</p>
   <p>@Html.ActionLink("See all genres", "Index", "Genres")</p>
</div>
